

:root{
    --bg-grey:#d9dbd3;
    --bg-green:#009688;
    --container-bg-grey:#eaeaea;
    --notification-skyblue:#8edafc;
    --light-grey-icons:#b1b1b1;
    --highlighted-bg-grey:#e4dcd4;
    --text-message-green:#d5f9ba;
    --text-gray:#d5cdca;
    
}
body{
    background-color: var(--bg-grey);
}

#bg-color{
    position:absolute;
    top:0%;
    left:0;
    right:0;
    background-color: var(--bg-green);
    height: 140px;
}

.container-lg{
    /* margin: 1vh 10vw; */
    background-color: var(--container-bg-grey);
    height: 93vh;
}
#left-section, #right-section{
   padding: 0;
}

.top-section{
    height: 60px;
}
.user-info img{
    height:40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
#left-section .top-section{
    border-right: solid 1px lightgray;
    /* border-color: var(--container-bg-grey); */
}
.settings i {
    margin: 0.5rem;
    color: var(--light-grey-icons);
}

#notification-box{
    background-color: var(--notification-skyblue);
    height: 70px;
}
.notification-icon{
    font-size: 1.5rem;
    color: var(--notification-skyblue);
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

#notification-box h5{
    margin:0;
    font-size: 1rem;
}
.text-little{
    font-size: 0.8rem;
}

#addon-wrapping{
    background-color: white;
    border: none;
}
#search-bar {
    height: 40px;
}
#search-bar .bi-search{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 20px;
    z-index: 1;
}
#chat-boxes{    
    height: calc(93.5vh - 60px - 75px - 40px);
    background-color: whitesmoke;
    overflow-y: scroll;
   
}
.chat-box{
    background-color: whitesmoke;
    border-top:solid;
    border-color: var(--container-bg-grey);
    height: 70px;
    font-size: 28px;
    margin: 0;
}
#chat-boxes>.col-2 .col-9{
    padding: 0;
}
.active-chat{
    background-color: var(--highlighted-bg-grey);
}

.contact-picture img{
    height: 50px;
    border-radius: 50%;
    background-color: #f2f2f2;

}

.contact-info>h5{
    font-size: 1rem;
    margin: 0;
}
.contact-info{
    height: 50px;
    flex-grow: 1;
    padding: 0;
}
.contact-info > .last-message-sent{
    font-size: 0.8rem;
}
.contact-time{
    font-size: 0.5rem;
    height: 50px;
}

#chat{
    background: url('../img/mine.jpg');
    background-repeat: repeat;
    height: calc(93.5vh - 60px - 60px);
    overflow-y: scroll;
}

.message{
   background-color: whitesmoke;
   width: 40%;
   margin-bottom: 20px;
}

.sent{
    align-self: end;
    background-color: var(--text-message-green);
    text-align: end;
    
}

#user-input-box{
    height: 60px;
    width: 100%;

}

#user-input-box i {
    font-size: 1.5rem;
}