<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- import bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- import vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js" defer></script>
    <title>Boolzapp</title>
</head>

<body>
    <div id="bg-color">
        <div id="app">
            <div class="container-lg mx-auto">
                <div class="row">
                    <!-- left column -->
                    <div class="col-5" id="left-section">
                        <!-- user info -->
                        <div class="top-section p-2 d-flex flex-row justify-content-between">
                            <div class="user-info d-flex flex-row align-items-center">
                                <img src="./img/avatar_io.jpg" alt="User Picture">
                                <h5 class="user-name">Sofia</h5>
                            </div>
                            <div class="settings d-flex flex-row align-items-center">
                                <i class="bi bi-circle-square"></i>
                                <i class="bi bi-chat-left-fill"></i>
                                <i class="bi bi-three-dots-vertical"></i>
                            </div>
                        </div>
                        <!-- notification box -->
                        <div id="notification-box" class="p-2 d-flex flex-row align-items-center">
                            <div class="notification-icon ">
                                <i class="bi bi-bell-slash-fill"></i>
                            </div>
                            <div class="notification-info ms-2">
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <span class="text-decoration-underline text-little">Attiva notifiche desktop</span>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="p-1  position-relative" id="search-bar">
                            <i class="bi bi-search"></i>
                            <div class="input-group flex-nowrap ">
                                <input type="text" class="form-control px-5" placeholder="Cerca o inizia una nuova chat"
                                    aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </div>

                        <!-- Chat boxes -->
                        <div id="chat-boxes">
                            <div v-for="(item, index) in contacts" :key="index"
                                class="chat-box p-2 row flex-row align-items-center align-content-center justify-content-between"
                                :class="{'active-chat': activeChatIndex === index}" @click=changeChatIndex(index)>
                                <div class="col-2">
                                    <div class="contact-picture">
                                        <img :src="addPicture(index)" alt="">
                                    </div>
                                </div>
                                <div class="contact-info col-9 d-flex align-items-start flex-column ">
                                    <h5>{{contacts[index].name}}</h5>
                                    <span class="last-message-sent">Ultimo messaggio inviato</span>
                                </div>
                                <div
                                    class="contact-time col-1 d-flex flex-column justify-content-start align-items-start">
                                    <span>12:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right section -->
                    <div class="col-7" id="right-section">
                        <!-- Active chat top section -->
                        <div class="top-section p-2 d-flex flex-row justify-content-between">
                            <div class="col-1">
                                <div class="contact-picture">
                                    <img :src=addPicture(activeChatIndex) alt="">
                                </div>
                            </div>
                            <div class="contact-info col-8 d-flex align-items-start flex-column">
                                <h5>{{contacts[activeChatIndex].name}}</h5>
                                <span class="last-message-sent">Ultimo messaggio inviato</span>
                            </div>
                            <div class="settings col-2 d-flex justify-content-end align-items-center">
                                <i class="bi bi-search"></i>
                                <i class="bi bi-paperclip"></i>
                                <i class="bi bi-three-dots-vertical"></i>
                            </div>
                        </div>
                        <!-- main chat -->
                        <div id="chat" class="p-5 d-flex flex-column align-content-start ">
                            <div v-for="(item, index) in contacts[activeChatIndex].messages" :key="index"
                                class="message p-2 pb-3 rounded-2 position-relative"
                                :class="{'sent': contacts[activeChatIndex].messages[index].status == 'sent' }">
                                <div class="message-content">
                                    {{contacts[activeChatIndex].messages[index].message}}
                                </div>
                                <div class="chat-message-time position-absolute">
                                    {{getDate(index)}}
                                </div>
                            </div>
                        </div>
                        <!-- user input section -->
                        <div class="row" id="user-input-box">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class="bi bi-emoji-sunglasses"></i>
                            </div>
                            <div class="col-9 d-flex justify-content-center align-items-center">
                                <input type="text" placeholder="Scrivi un messaggio" v-model.trim="newChatMessage" @keyup.enter='addNewChatMessage(newChatMessage)' class="form-control">
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <i class="bi bi-mic" @click="getTime(0)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>